body {
  text-align: center;
  margin: 0;
  background-color: #f5f9f8;
}

h1 {
  margin-top: 0;
  padding-top: 60px;
  font-family: 'Sacramento', cursive;
  font-weight: 100;
  font-size: 100px;
  color: white;
}

h2 {
  margin: 0;
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
}

h3 {
  color: #988e93;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  font-weight: 100;
}

h4 {
  color: #d499b8;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

h5 {
  padding-bottom: 35px;
  font-family: 'Cormorant SC', serif;    width: 40%;
  font-weight: 100;
  margin: auto;
  font-size: 25px;
  color: #be163a
}
p {
  line-height: 1.7;
  color: #32252c;
  font-family: 'Merriweather', serif;
  width: 40%;
  font-weight: 100;
  font-size: 20px;
}

a {
  font-family: 'Ibarra Real Nova', serif;
  text-decoration: none;
  color: #9f2645;
}

a:hover {
  color: white;
}

hr {
  border: dotted #80797d 6px;
  width: 6%;
  border-bottom: none;
  margin: 50px auto;
}

.nav {
  background-color: #abdad1;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 25px;
  padding-bottom: 20px;
}

.s {
  padding-left: 20px;
  padding-right: 20px;
}

.top-container {
  background-color: #abdad1;
}
.land {
  position: relative;
  width: 100%;
  bottom: 0;
}
.cloud {
  position: absolute;
  left: 60px;
}

.contact {
  padding-top: 10px;
  padding-bottom: 30px;
}
.about {
  background-color: #f5f9f8;
  padding-top: 30px;
  padding-bottom: 50px;
}
.pro-pic {
  width: 300px;
}

.skills {
  padding-bottom: 70px;
  padding-top: 20px;
}
.skill-c {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-cpp {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.skill-ps {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
}

.cp {
  text-align: left;

}

.p1 {
  width: 100%;
}

.p2 {
  margin-left: 0;
}

.p3 {
  margin: auto;
}

.c1 {
  margin: auto;
  padding-bottom: 50px;
  font-size: 15px;
}

.btn {
  margin: auto;
  background: #d9347b;
  background-image: -webkit-linear-gradient(top, #d9347b, #369bd9);
  background-image: -moz-linear-gradient(top, #d9347b, #369bd9);
  background-image: -ms-linear-gradient(top, #d9347b, #369bd9);
  background-image: -o-linear-gradient(top, #d9347b, #369bd9);
  background-image: linear-gradient(to bottom, #d9347b, #369bd9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #e02459;
  background-image: -webkit-linear-gradient(top, #e02459, #432ebf);
  background-image: -moz-linear-gradient(top, #e02459, #432ebf);
  background-image: -ms-linear-gradient(top, #e02459, #432ebf);
  background-image: -o-linear-gradient(top, #e02459, #432ebf);
  background-image: linear-gradient(to bottom, #e02459, #432ebf);
  text-decoration: none;
}

.bottom-container {
  margin-top: 50px;
  padding-top: 30px;
  background-color: #6feec4;
}

.footer-link {
  margin: auto 20px;
}

.ish {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}
