body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.1em;
  margin-top: 11px;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

hr {
  border: dotted #94B49F 6px;
  border-bottom: none;
  width: 6%;
  margin: 50px auto;
}

a {
  color: #876445;
  margin: auto 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #F9F9F9;
  position: relative;
  padding-top: 100px;
  animation-duration: 2s;
  animation-name: top-fade-in;
}

@keyframes top-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}
.middle-container {
  padding: 100px 0;
}

.bottom-container {
  padding: 20px;
  background-color: #66BFBF;
}
.intro {
  width: 30%;
  margin: auto;
}
.bottom-cloud {
  left: 300px;
  top: 300px;
  position: absolute;
}

.top-cloud {
  right: 300px;
  top: 50px;
  position: absolute;
}

.pro-pic {
  border-radius: 100%;
  height: 250px;
  width: 200px;
}

.skill-c {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-cpp {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-ps {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bottom-container {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
}

.cont-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.ish {
  color: brown;
}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
